.Mcard{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #0091ff;
    margin: 75px;
}
.CB{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}
.CB p span{
    background-color: #d29f08;
    border-radius: 8px;
    margin-right: 5px;
}