.Mcard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 75px;
    margin-top: 25px;
    gap: 10px;
    color: #fff;
}
.Mcard .content{
    display: flex;
    flex-direction: column;
}
.card{
    width: 230px;
    height: 300px;
    margin: 100px auto;
}
.img{
    width: 230px;
    height: 300px;
}
.img img{
    width: 230px;
    height: 300px;
}