
.custom-carousel .slick-dots {
  background-color: transparent; /* Active dot color */
}

#img{
  height: 650px;
  width: 100%;
  color: #fff;
  line-Height: 160px;
  text-Align: center;
  background: #364d79;
  object-fit: cover;
}